<div class="md-content" class="login" fxLayout="row" fxLayoutAlign="center center">
    <md-card>
        <h2>Login</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div fxLayout="column">
                <md-input-container>
                    <input mdInput placeholder="Usuário" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div class="ng-message" *ngIf="username.errors && (username.dirty || username.touched || f.submitted)">
                        <div [hidden]="!username.errors.required">
                            Campo obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Senha" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <div class="ng-message" *ngIf="password.errors && (password.dirty || password.touched || f.submitted)">
                        <div [hidden]="!password.errors.required">
                            Campo obrigatório.
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <button color="primary" md-raised-button fxFlex="auto">Entrar</button>
                <!-- <a [routerLink]="['/register']" md-button>Registrar</a> -->
            </div>
            <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
        </form>
    </md-card>
</div>