.login {
    /*background: url('../../assets/img/wallpaper/px-example-q70.jpg') no-repeat center center fixed;*/
    background-color: #F2F2EA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding-bottom: 10%;
}