/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/login/login.scss";
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.myApp {
    height: 100%;
}

.ng-message {
    margin-top: 10px;
    position: absolute;
    color: #F44336;
    font-size: smaller;
}